@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #2c3f30;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 5px;
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  width: 100%;
}

.content {
  top: 0;
  margin-bottom: 70px;
  margin-left: 355px;
  position: relative;
  /* left: 118%; */
  width: 142%;
  height: 90%;
  font-family: 'Josefin Sans', sans-serif;
}

.content-app {
  top: 0;
  margin-bottom: 70px;
  margin-left: 355px;
  position: relative;
  /* left: 118%; */
  width: 125%;
  height: 90%;
  font-family: 'Josefin Sans', sans-serif;
}

.title {
  text-align: left;
  margin-top: 5%;
  color: #d89941;
  font-size: 4em;
  font-family: 'Josefin Sans', sans-serif;
  /* background-color: #1f2d22; */
  padding: none;
  height: 6%;
  width: 85%;
  margin-bottom: 0;
}

.applic{
  text-align: left;
  font-size: 2.5em;
  color: #d89941;
  line-height: 2;
  width: 90%;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 3%;
}

h2 {
  text-align: left;
  font-size: 2.5em;
  color: #d89941;
  line-height: 2;
  width: 90%;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 5%;
  }

p {
  text-align: left;
  font-size: 1.5em;
  color: #f5edc6;
  line-height: 1.5;
  width: 90%;
  font-family: 'Josefin Sans', sans-serif;
}

.logo {
  width: 230px;
  margin-left: 36px;
  margin-top: 36px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #CDCDCD;
  top: 0;
  left: 0;
  height: 100%;
  outline: 5px solid #2c3f30;
  outline-offset: -15px;
  width: 300px;
}

.notlogo {
  padding-left: 12%;
  padding-bottom: 0;
  padding-top: 7%;
  align-content: space-between;
}

.quicklinks {
  top: 0;
  width: 100%;
  height: 13%;
  display: flex;
  flex-direction: row;
  font-family: 'Josefin Sans', sans-serif;
}

.links {
  float: left;
  display: flex;
  margin-right: 9.5%;
}

.pages {
  margin-top: 15%;
  font-family: 'Josefin Sans', sans-serif;
  flex-direction: column;
}

.otherpage {
  text-decoration-line: none;
  color: #1f2d22;
  font-size: 1.6em;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 10%;
  display: flex;
  text-decoration: bold;
}

.sponsors {
  height: 100%;
  width: auto;
  margin-right: 0;
}

.sponsor-board {
  position: fixed;
  bottom: 0;
  padding-bottom: 1%;
  padding-top: 1%;
  left: 0;
  width: 100%;
  height: 6%;
  background-size: contain;
  background-color: #1f2d22;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

form {
  line-height: 2.5;
}

label {
  color: #d89941;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: .1em;
  font-family: 'Josefin Sans', sans-serif;
}

p2 {
  line-height: 4;
  color: #f5edc6;
  font-size: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
}

textarea {
  width: 30%;
  background-color: #5e8767;
  transition: width 1s;
  resize: none;
  font-size: 1.4em;
  border: none;
  border-color: black;
  text-decoration-color: black;
  border-width: 2px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px;
  border-radius: 6px;
}

::placeholder {
  color: black;
}

textarea:focus {
  outline: none;
  width: 75%;
}

.textbox {
  width: 30%;
  height: 100%;
  font-size: 1.2em;
  letter-spacing: .1em;
  background-color: #5e8767;
  border: none;
  border-color: black;
  border-width: 10px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px;
  border-radius: 6px;
}

.textbox:focus {
  outline: none;
  initial-value: 0;
}

.button {
  font-size: 1.5em;
  background-color: #5e8767;
  color: black;
  padding: .5%;
  letter-spacing: .05em;
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  height: 4%;
  width: 10%;
  border-radius: 6px;
}

.button:hover {
  cursor: pointer;
  background-color: #87ab8f;
}

.button:focus {
  background-color: #87ab8f;
}

body {
  height: 100%;
  
}

.spacer {
  height: 6%;
}

.checkmark {
  position: absolute;
  top: 15px;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: #eee;
  border-radius: 3px;
}

.box {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.box:hover input ~ .checkmark {
  background-color: #ccc;
}

.box input:checked ~ .checkmark {
  background-color: #46b95b;
}

.checkmark-radio {
  position: absolute;
  top: 14px;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: #eee;
  border-radius: 50%;
  margin-right: 5px;
}

.box:hover input ~ .checkmark-radio {
  background-color: #ccc;
}

.box input:checked ~ .checkmark-radio {
  background-color: #46b95b;
}

.robotimage1 {
  width: 30%;
  height: auto;
  float: right;
  margin: 1%;
  border-radius: 2%;
}

.robotimage2 {
  width: 30%;
  height: auto;
  float: left;
  margin: 1%;
  border-radius: 2%;
}

h3 {
  text-align: center;
  font-size: 2.5em;
  color: #d89941;
  line-height: 1;
  width: 90%;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 0;
}

h4 {
  text-align: center;
  font-size: 1.5em;
  color: #d89941;
  line-height: .5;
  width: 90%;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 1%;
}

.vermont {
  position: fixed;
  height: 25%;
  width: auto;
  top: 6%;
  right: 2.5%;
}

.subheading {
  line-height: 1;
}

.calendar1 {
  position: fixed;
  right: 2%;
  top: 33%;
  background-color: #cdcdcd;
  width: 14%;
  height: 13%;
  border-radius: 5px;
  color: #2c3f30;
  padding-left: 1.5%;
  padding-top: 1%;
  outline: 2.0px solid #2c3f30;
  outline-offset: -8px;
}

.calendar2 {
  position: fixed;
  right: 2%;
  top: 53%;
  background-color: #cdcdcd;
  width: 14%;
  height: 13%;
  border-radius: 5px;
  color: #2c3f30;
  padding-left: 1.5%;
  padding-top: 1%;
  outline: 2.0px solid #2c3f30;
  outline-offset: -8px;
}

.calendar3 {
  position: fixed;
  right: 2%;
  top: 73%;
  background-color: #cdcdcd;
  width: 14%;
  height: 13%;
  border-radius: 5px;
  color: #2c3f30;
  padding-left: 1.5%;
  padding-top: 1%;
  outline: 2.0px solid #2c3f30;
  outline-offset: -8px;
}

h5 {
  line-height: 1.4;
  margin-top: 0;
  margin: 0;
  font-size: 1.5em;
}

p3 {
  line-height: 1.5;
  margin: 0;
  font-size: 1.2em;
}